<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Activate Your Account</title>
  </head>
  <body>
    <p>Hello, {{userName}}!</p>
    <p>Thank you for signing up. Please activate your account by clicking the
      link below:</p>
    <p><a href='{{activationUrl}}'>Activate Account</a></p>
    <p>If you did not sign up for this account, please ignore this email.</p>
    <p>Best regards,<br />The Team</p>
  </body>
</html>