<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Account Activation Successful</title>
  </head>
  <body>
    <p>Hello, {{userName}} !</p>
    <p>Congratulations! Your account has been successfully activated 🎈.</p>
    <p>You can now
      <a href='{{loginUrl}}'>log in</a>
      and start using our services.</p>
    <p>Best regards ☺,<br />The Team</p>
  </body>
</html>