<p>Hey <%= firstName %>,</p>
<p>
  Your Account verification is successfull 🎈. We're very excited to have you on
  board.
</p>

<p>
  To get started using UniIlorin Health Centre App, please update your profile:
</p>
<p></p>

<h3>Thank You ☺</h3>
