<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You're Invited!</title>
</head>
<body>
    <h1>Invitation to Join Our Platform</h1>
    <p>Hello, {{inviteeName}}!</p>
    <p>You have been invited by <%= inviterName %> to join our platform. Click the link below to accept the invitation and create your account:</p>
    <p><a href="{{inviteUrl}}">Join Now</a></p>
    <p>Best regards,<br/>The Team</p>
</body>
</html>
