<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Welcome to Our Service</title>
  </head>
  <body>
    <h1>Welcome, {{userName}}!</h1>
    <p>
      Thank you for joining our platform. We're excited to have you on board!
    </p>
    <p>
      To get started, please
      <a href='{{loginUrl}}'>log in</a>
      to your account.
    </p>
    <p>Best regards,<br />The Management</p>
  </body>
</html>