<p>
  Thanks for signing up for UniIlorin HealthCare. We're very excited to have you
  on board.
</p>

<p>
  To get started using UniIlorin HealthCare App, please confirm your account
  below:
</p>
<p></p>

<p>
  If you're having trouble clicking the confirm account button, copy and paste
  the below URL into your web browser.
</p>
